.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
    padding-top: 130px;
}

/* 풀페이지 */
#fullpage-indicator {
    position: absolute;
    top: 50%;
    right: 23px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(-50%);
}

#fullpage-indicator div {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: url('/resources/homepage/template/img/common/indicator.svg') no-repeat center center;
}

#fullpage-indicator div.active {
    background: url('/resources/homepage/template/img/common/active-indicator.svg') no-repeat center center;
}

#fullpage-indicator div:last-child {
    display: none;
}

.fp-watermark {
    display: none;
}

.fp-overflow {
    width: 100%;
}
