.footer {
    width: 100%;
    border-top: 1px solid #ececec;
    background: #fff;
}

.banner-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-prev,
.banner-next {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.banner-slide {
    width: 1334px;
}

.banner-slide-item {
    width: 170px;
    height: 50px;
    border: 1px solid #e8e8e8;
    margin-right: 24px;
}

.banner-slide-item img {
    width: 170px;
    height: 50px;
    object-fit: cover;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #212121;
    border-bottom: 1px solid var(--gray700);
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer div:nth-of-type(2) .wrapper {
    align-items: flex-end;
}

.footer div:nth-of-type(3) .wrapper {
    align-items: center;
}

.library-info {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.link_list {
    display: flex;
    gap: 37px;
}

.link_list a {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.325px;
    color: var(--gray400);
    font-family: Pretendard-Regular, sans-serif;
    font-style: normal;
}

.link_list a:first-child {
    font-weight: 700;
    color: #fff;
    font-family: Pretendard-Bold, sans-serif;
}

.link_list a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -19px;
    width: 1px;
    height: 12px;
    background-color: var(--gray300);
    transform: translateY(-50%);
}

.link_list a:last-child::after {
    display: none;
}

.library-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.library-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.375px;
    color: #fff;
    font-family: Pretendard-Medium, sans-serif;
    font-style: normal;
}

.library-detail-wrapper {
    display: flex;
}

.library-detail-wrapper div:first-child {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    color: var(--gray400);
    font-family: Pretendard-Regular, sans-serif;
    font-style: normal;
    margin-right: 20px;
}

.library-detail-wrapper div:nth-child(2) {
    margin-right: 8px;
}

.library-detail-wrapper div:nth-child(2),
.library-detail-wrapper div:nth-child(3) {
    font-size: 13px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.325px;
    color: var(--gray400);
    font-family: Pretendard-Bold, sans-serif;
    font-style: normal;
}

.library-detail-wrapper div:nth-child(2) span,
.library-detail-wrapper div:nth-child(3) span {
    font-family: Pretendard-Regular, sans-serif;
    font-weight: 400;
    margin-right: 4px;
}

.sns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.sns-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    text-align: right;
    color: var(--gray400);
    font-family: Pretendard-Bold, sans-serif;
    font-style: normal;
}

.sns-list {
    display: flex;
    gap: 4px;
}

.sns-icon {
    width: 34px;
    height: 34px;
}

.blog {
    background: url('/resources/homepage/template/img/common/blog.svg') no-repeat center center;
}

.instagram {
    background: url('/resources/homepage/template/img/common/instagram.svg') no-repeat center center;
}

.kakao {
    background: url('/resources/homepage/template/img/common/kakao.svg') no-repeat center center;
}

.facebook {
    background: url('/resources/homepage/template/img/common/facebook.svg') no-repeat center center;
}

.x {
    background: url('/resources/homepage/template/img/common/x.svg') no-repeat center center;
}

.youtube {
    background: url('/resources/homepage/template/img/common/youtube.svg') no-repeat center center;
}

.copyright {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.325px;
    color: var(--gray400);
    font-family: Pretendard-Regular, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.move-select {
    display: flex;
    gap: 10px;
}

.select-wrapper {
    display: flex;
}

.select-wrapper select {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
    height: 45px;
    padding: 0 35px 0 20px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    color: #fff;
    background: #292929 url('/resources/homepage/template/img/common/select-arrow.svg') no-repeat right 16px center;
    appearance: none;
    background-size: 13px;
    font-family: Pretendard-Regular, sans-serif;
    font-style: normal;
    border-right: 1px solid #212121;
}

.select-wrapper select:focus,
.select-wrapper select:hover {
    outline: none;
}

.select-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: #fff;
    font-family: Pretendard-Regular, sans-serif;
    font-style: normal;
    background: var(--gray800);
}
