<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="/resources/homepage/template/css/common/reset.css" />
        <link rel="stylesheet" href="/resources/homepage/template/css/common/common.css" />
        <link rel="stylesheet" href="/resources/homepage/template/css/common/footer.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.17/fullpage.css" />
        <link rel="stylesheet" href="/resources/homepage/template/css/common/slick.css" />
        <link rel="stylesheet" href="/resources/homepage/template/css/common/slick-theme.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/GmarketSans/font-face.css" />
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/GmarketSans/font-family.css" />
        <script src="/resources/homepage/template/plugin/jquery-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.17/fullpage.js"></script>
        <script src="/resources/homepage/template/js/common/common.js"></script>
        <script src="/resources/homepage/template/js/common/fullpage.js"></script>
        <script src="/resources/homepage/template/plugin/slick.min.js"></script>
    </head>

    <body>
        <link rel="stylesheet" href="/resources/homepage/template/css/main/type9/01/index.css" />
        <script src="/resources/homepage/template/js/main/type9/01/index.js"></script>
        <!-- main -->
        <div class="main_container">
            <!-- 통합팝업 -->
            <div class="total_popup_area"></div>
            <div id="fullpage">
                <div class="section" data-anchor="section1"></div>

                <div class="section" data-anchor="section2">
                    <div class="wrapper"></div>
                </div>
                <div class="section" data-anchor="section3">
                    <div class="wrapper"></div>
                </div>
                <div class="section" data-anchor="section4">
                    <div class="wrapper"></div>
                </div>

                <!-- footer -->
                <div class="footer section fp-auto-height" data-anchor="section5">
                    <!-- banner -->
                    <div class="banner-area">
                        <img class="banner-prev" src="/resources/homepage/template/img/common/banner-prev.svg" alt="" />
                        <div class="banner-slide">
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                            <a href="" class="banner-slide-item">
                                <img src="/resources/homepage/template/img/common/dummy.png" alt="" />
                            </a>
                        </div>
                        <img class="banner-next" src="/resources/homepage/template/img/common/banner-next.svg" alt="" />
                    </div>

                    <div class="footer-wrapper">
                        <div class="wrapper">
                            <div class="library-info">
                                <div class="link_list">
                                    <a href="">개인정보처리방침</a>
                                    <a href="">영상정보처리방침</a>
                                    <a href="">도서관이용약관</a>
                                    <a href="">도서관서비스헌장</a>
                                    <a href="">저작권신고</a>
                                </div>
                                <div class="library-detail">
                                    <div class="library-name">인포셋 라이브러리</div>
                                    <div class="library-detail-wrapper">
                                        <div>(우 42063) 대구광역시 수성구 화랑로 204 동문빌딩 4F</div>
                                        <div><span>대표전화</span>053-957-8235</div>
                                        <div><span>팩스</span>053-956-8237</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sns-wrapper">
                                <div class="sns-title">SNS</div>
                                <div class="sns-list">
                                    <a class="blog sns-icon" href=""></a>
                                    <a class="instagram sns-icon" href=""></a>
                                    <a class="kakao sns-icon" href=""></a>
                                    <a class="facebook sns-icon" href=""></a>
                                    <a class="x sns-icon" href=""></a>
                                    <a class="youtube sns-icon" href=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-wrapper">
                        <div class="wrapper">
                            <div class="copyright">Copyright © INFOSET LIBRARY. All rights reserved.</div>
                            <div class="move-select">
                                <div class="select-wrapper">
                                    <select>
                                        <option value="">대구광역시 공공도서관</option>
                                    </select>
                                    <button>이동</button>
                                </div>
                                <div class="select-wrapper">
                                    <select>
                                        <option value="" selected>교육 및 지역관련기관</option>
                                    </select>
                                    <button>이동</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- indicator -->
            <div id="fullpage-indicator">
                <div data-menuanchor="section1"></div>
                <div data-menuanchor="section2"></div>
                <div data-menuanchor="section3"></div>
                <div data-menuanchor="section4"></div>
                <div data-menuanchor="section5"></div>
            </div>
        </div>
    </body>
</html>
